<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">

    Sorting by:
    <%= link_to "new", user_path(params[:id], sorting: 'desc'), class: 'btn btn-info btn-sm' %> |
    <%= link_to "old", user_path(params[:id], sorting: 'asc'), class: 'btn btn-info btn-sm' %> |
    <%= link_to "views", user_path(params[:id], sorting: 'views'), class: 'btn btn-info btn-sm'%> |
    <%= link_to "likes", user_path(params[:id], sorting: 'votes'), class: 'btn btn-info btn-sm' %>

    <h3>Posts (<%= @user.microposts.published.count %>)</h3>
    <% if @user.microposts.any? %>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>
