<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <%= form_tag(microposts_path, method: :get, id: 'search-form', class: "navbar-form navbar-left search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search", class: "form-control" %>
      <%= submit_tag "Search", class: 'btn btn-info search_button' %>
    <% end %>
  </aside>
  <div class="col-md-8">

    Sorting by:
    <%= link_to "new", user_path(params[:id], sorting: 'desc') %> |
    <%= link_to "old", user_path(params[:id], sorting: 'asc') %> |
    <%= link_to "views", user_path(params[:id], sorting: 'views')%> |
    <%= link_to "likes", user_path(params[:id], sorting: 'votes') %>

    <h3>Posts (<%= @user.microposts.published.count %>)</h3>
    <% if @user.microposts.any? %>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>
