<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>

  <span class="content">
    <strong class="h1_feed"><%= micropost.title %></strong>
    <%= image_tag micropost.picture.url if micropost.picture? %>
  </span>

  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
    |
    <%= link_to 'show', micropost %>
    |
    <% if current_user?(micropost.user) %>
      <%= link_to "edit", edit_micropost_path(micropost) %>
    <% end %>
    <% if current_user?(micropost.user) %>
    |
      <%= link_to "delete", micropost, method: :delete,
                                       data: { confirm: "Are you sure?" } %>
    |
    <% end %>
    <p></p>
    <%= image_tag('eye2.png', alt: 'views', class: "views-image")%><%=
    micropost.views_count%>
  </span>

</li>
