<div class="col-md-6">
  <div class="">
    <h3><strong>Title</strong></h3>
    <%= form_for @micropost do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
      <%= f.text_field :title, class: 'form-control' %>
      <h3><strong>Post</strong></h3>
      <%= f.trix_editor :content, required: true %>
      <br>
      <h3>All tags:</h3>
      <%= f.text_field :all_tags, class: 'form-control' %>
      <br>
      <%= f.file_field :picture, class: 'form-control' %>
      <h3><strong>Link video</strong></h3>
      <%= f.text_field :link, class: 'form-control' %>
      <br>
      <%= f.submit class: 'btn btn-success' %>
    <% end %>
  </div>
  <br>
  <div class="">
  <%= image_tag @micropost.picture.url if @micropost.picture? %>
  </div>
</div>
