<div class="col-md-6">
  <div class="">
    <%= @micropost.content %>
  </div>

  <div class="">
  <%= image_tag @micropost.picture.url if @micropost.picture? %>
  </div>
</div>

<div class="col-md-6">
<%= form_for [@micropost, Comment.new] do |f| %>
  <%= f.text_field :body, required: true %>
  <%= f.submit %>
<% end %>

<% @comments.each do |comment| %>
<%= link_to gravatar_for(comment.user, size: 50), comment.user %>
  <p><%= comment.user.name %></p>
  <p><%= comment.body %></p>
  <%= link_to "Delete", [@micropost, comment], method: :delete if comment.user == current_user %>
  <hr>
<% end %>
</div>
