<div class="col-md-12">

  <div class="">
    <h3 class="show_title_post"><strong>Title</strong></h3>
    <div class="h1_show"><%= @micropost.title %></div>
    <h3 class="show_title_post"><strong>Post</strong></h3>
    <span class="show_content"><%= sanitize @micropost.content%></span>
  </div>

  <br>

  <div class="show_title_post">
  <%= image_tag @micropost.picture.url if @micropost.picture? %>
  </div>

  <div class="video"><%= get_video_iframe(@micropost.link) %></div>
  <hr class="hr">
</div>

<div class="gravatar">
<%= link_to "Like", micropost_likes_path(@micropost), method: :post %>
<%= link_to "Dislike", [@micropost, @micropost.likes.last], method: :delete, remote: true if @micropost.likes.count > 0 %>
 Likes: <%= @micropost.likes.count %>
 <hr class="hr">
 </div>

  <p></p>

<div class="col-md-0">
  <h3 class="comments"><strong>Comments</strong></h3>
  <%= form_for [@micropost, Comment.new] do |f| %>
  <%= f.text_field :body, required: true, class: 'form-control' %>
  <%= f.submit 'Create comment', class: 'btn btn-success' %>
  <hr>
<% end %>

<% @comments.each do |comment| %>

<div class="show-comment">
    <%= link_to gravatar_for(comment.user, size: 50), comment.user %>
    <p class="show_comment"><%= comment.user.name%></p>
    <p><%= comment.body %></p>
    <%= link_to "Delete", [@micropost, comment], method: :delete if comment.user == current_user %>
    </div>
    <hr>
    
  <% end %>

</div>
