<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>

    <% if cookies[:views].to_i == 10 %>
      <script type="text/javascript">
        let myWindow = window.open("", "", "width=400,height=150");
        myWindow.document.write("<p>Learn Ruby on Rails with GeekHub! :)</p>");
      </script>
        <% cookies.delete(:views) %>
    <% end %>
  </body>
</html>
