<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>

     <%= render 'layouts/popup' %>

    <% if cookies[:views].to_i == 10 %>
      <script>
           $('#modal_window').modal();
       </script>
        <% cookies.delete(:views) %>
    <% end %>
  </body>
</html>
